<h1>DASHBOARD</h1>

<h2>YOUR STORIES</h2>
<table>
  <% @stories.each do |story| %>
    <tr>
      <td>
        <%= story.title %>
      </td>
      <td>
        <%= link_to 'Show', story %>
        <%= link_to 'Dialogs', [story, :dialogs] %>
        <%= link_to 'Edit', [:edit, story] %>
        <%= link_to 'Delete', story, :method => :delete, :confirm => "本当に消すよ?" %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "new", [:new, :story] %>

<h2>YOUR CHARACTERS</h2>
<ul>
  <% @faces.each do |face| %>
    <li><%= link_to face.character.name, [face.character, face] %>
  <% end %>
</ul>
