<%= form_for(@story) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.check_box :published %>
    <%= f.label :published, "公開する" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
