<p id="notice"><%= notice %></p>

<article>
  <h1><%= @story.title %></h1>
  <% if @auth.id == @story.user_id %>
    <%= link_to 'Dialogs', [@story, :dialogs] %> |
    <%= link_to 'Edit', edit_story_path(@story) %> |
    <%= link_to 'Back', :dashboard %>
  <% end %>
</article>
