<%= form_for([@story, @dialog]) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :character_id, "キャラクター" %><br />
    <%= f.select :character_id, Character.all.map{|x| [x.name, x.id]} %>
  </div>
  <div class="field">
    <%= f.label :face_id, "顔アイコン" %><br />
    <%= f.select :face_id, Face.all.map{|x| [x.name, x.id]} %>
  </div>
  <div class="field">
    <%= f.label :message, "セリフ" %><br />
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
