= simple_form_for([@story, @dialog], :html => {:class => 'form-horizontal'}) do |f|
  = f.error_notification
  .form-fields
    = f.association :character
    = f.association :face, :collection => []
    = f.input :message, :placeholder => "セリフ", :rows => 4
  .form-actions
    = f.submit :class => "btn btn-primary"
