<h1><%= @story.title %> Listing dialogs</h1>

<% if @dialogs.length > 0 %>
  <div id="dialogs" class="admin_dialogs">
    <% @dialogs.each do |dialog| %>
      <div id="dialogs_<%= dialog.id %>" class="dialog">
        <div class="horizontal">
          <%= image_tag dialog.face.icon.url(:thumb) %>
          <div class="message"><%= simple_format auto_link(dialog.message) %></div>
        </div>
        <footer>
          <%= link_to 'Edit', [:edit, @story, dialog] %>
          <%= link_to 'Destroy', [@story, dialog], :confirm => 'Are you sure?', :method => :delete %>
        </footer>
      </div>
    <% end %>
  </div>

  <%= sortable_element :dialogs, :tag => :div, :url => [:update_orders, @story, :dialogs], :method => :put %>
<% end %>

<div class="boxed_form">
  <h1>New dialog</h1>
  <%== render :partial => 'form' %>
</div>
