<h1>Listing faces</h1>

<table>
  <tr>
    <th>アイコン名</th>
    <th>アイコン</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% @faces.each do |face| %>
    <tr>
      <td><%= face.name %></td>
      <td><%= image_tag face.url %></td>
      <td><%= link_to 'Show', [@character, face] %></td>
      <td><%= link_to 'Edit', [:edit, @character, face] %></td>
      <td><%= link_to 'Destroy', [@character, face], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Face', [:new, @character, :face] %>
