!!! 5
%title SS Editor
= stylesheet_link_tag "application"
= javascript_include_tag "application"
= csrf_meta_tag

%header
  %h1#logo= link_to 'SS Editor', :root
  #status
    - if login?
      %strong= @auth.name
      |
      = link_to 'ダッシュボード', :dashboard
      |
      = link_to 'ログアウト', :logout
    - else
      %strong ログインしていません
      |
      = link_to 'ログイン', :login
  %nav
    %ul
      %li= link_to 'stories', :stories
      %li= link_to 'characters', :characters
#main
  = yield

