<!DOCTYPE html>
<title>SS Editor</title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>

<header>
  <h1><%= link_to 'SS Editor', :root %></h1>
  
  <div>
    <% if login? %>
      <%= link_to 'logout', :logout %>
    <% else %>
      <%= link_to 'login', :login %>
    <% end %>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'stories', :stories %></li>
      <li><%= link_to 'characters', :characters %></li>
    </ul>
  </nav>
</header>
<div id="main">
  <%= yield %>
</div>
